*,
*::before,
*::after {
  box-sizing: unset;
  margin: 0;
  padding: 0;

}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 7%;
  
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-weight: map-get($font-weight, "regular");
  letter-spacing: 0;
  color: #000;
  background: $whiteColor;
  font-family: $defaultFontFamily;

}


a {
  cursor: pointer;
  &:visited,
  &:focus {
    outline: none;
    color: $blackColor;
    text-decoration: none;
    transition: 300ms all ease-in;
  }
}

a {
  
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
  
  &:focus,
  &:active {
    text-decoration: none;
  }

  img {
    border: 0 none;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    padding: 0;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1, h2, h3, h4, p {
  font-weight: map-get($font-weight, "regular");
}

// button {
//   width: 200px;
//   background: blue;

//   @include breakpoint(md, max) {
//     width: 100%;
//     background: red;
//   }

// }