#header {
    background: $blackColor;
    width: 100%;
    padding: 20px 0;
    border-bzz

    .logo {
        img{
            max-width: 170px;
            display: block;
        }
    }


    .header-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;

        
    }

    a {
        @include font-size(15);
        @include line-height(1.5, 15); 
        color: $whiteColor;
        font-weight: map-get($font-weight, "regular");
        text-decoration: none;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            background: $whiteColor;
            width: 0;
            height: 1.8px;
            bottom: -3px;
            left: 0;
            visibility: hidden;
            opacity: 0;
            transition: all 0.3s ease-in-out;
            border-radius: 50;
        }
    
        &:hover::after {
            visibility: visible;
            opacity: 1;
            width: 100%;
        }

        
    }

    .demo-btn {
        background: $blueColor;
        box-shadow: 1px 1px 1px 0px rgba(255, 255, 255, 0.25) ;
        padding: 20px 25px;
        border-radius: 64px;
        box-sizing: border-box;
        display: inline-block;

    }
    
    .demo-btn::after {
        display: none;

    }
    .demo-btn:hover::after {
        display: none;

    }

   
    
}

.nav-mobile{
    display: none;
}