@import "./styles/variables";
@import "./styles/mixins";

*,
*::before,
*::after {
  box-sizing: unset;
  
  margin: 0;
  padding: 0;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-size: $font-size-base;
  line-height: 2.4rem;
  letter-spacing: 0;
  color: #000;
  background: #fff;
  font-family: $defaultFontFamily;
  font-weight: map-get($font-weight, "regular");
}

a {
  &:visited,
  &:focus {
    outline: none;
    color: #000;
    text-decoration: none;
    transition: 300ms all ease-in;
  }
}


a {
  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }

  img {
    border: 0 none;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    padding: 0;
  }
}

img {
  max-width: 100%;
  height: auto;
}



h1 {
  font-weight: map-get($font-weight, "regular");
  font-size: $font-size-large !important;
}

.hello {
  background: red;
}

// button {
//   width: 200px;
//   background: blue;

//   @include breakpoint(md, max) {
//     width: 100%;
//     background: red;
//   }

// }
